.quiz {
  padding-left: 10px;
  margin-bottom: 20px;
}
.quiz-name {
  text-align: center;
  font-weight: bold;
  font-size: 1.1em;
}
.quiz-question {
  font-weight: 600;
  color: #3c3c3c;
  border-bottom: 1px solid #E7EAED;
  padding-bottom: 15px;
}
.quiz-question-text {
  font-weight: 600;
  color: #3C3C3C;
  border-bottom: 1px solid #E7EAED;
}
.quiz-answer {
  margin-left: 20px;
  color: #3c3c3c;
  font-weight: 400;
}
.quiz-answer input {
  margin-right: 10px;
}
.quiz-question-explanation {
  font-size: 1.6rem;
  margin: 20px 0;
  border: 1px solid #ccc;
  padding: 9px 15px 20px;
  background: #fbfbfb;
  box-shadow: inset 0 0 0 1px #eee;
  border-radius: 3px;
}
.quiz-question-explanation-header {
  color: #aaa;
  text-transform: uppercase;
  font-weight: bold;
  font-style: normal;
  margin-bottom: 18px;
}
.quiz-question-message {
  font-size: 0.8em;
}
.quiz-question-check {
  margin-top: 5px;
}
.hidden {
  display: none;
}
.correct {
  color: green;
}
.incorrect, .error {
  color: red;
}
.correct:before {
  content: " \2714"
}
.incorrect:before {
  content: " \2718"
}
.quiz .buttons .btn {
  background-color: #fff;
  border-radius: 4px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: inline-block;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #ccc;
  margin-right: 10px;
}
.quiz .buttons .btn:hover, .quiz .buttons .btn:active {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.quiz .buttons .btn:active {
  outline: 0;
  box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}