.quiz {
  border-left: 2px solid;
  padding-left: 10px;
  margin-bottom: 20px;
}
.quiz-name {
  text-align: center;
  font-weight: bold;
  font-size: 1.1em;
}
.quiz-question {
  border-bottom: 2px solid;
  padding-bottom: 15px;
}
.quiz-question-text {
  font-weight: bold;
}
.quiz-question-explanation {
  margin-top: 5px;
  font-size: 0.5em;
}
.quiz-question-message {
  font-size: 0.8em;
}
.quiz-question-check {
  margin-top: 5px;
}
.quiz-answer input {
  margin-right: 10px;
}
.hidden {
  display: none;
}
.correct {
  color: green;
}
.incorrect, .error {
  color: red;
}
.correct:before {
  content: " \2714"
}
.incorrect:before {
  content: " \2718"
}
.quiz .buttons .btn {
  border: 1px solid;
  border-radius: 2px;
  padding: 0 2px 0 2px;
  font-size: 0.9em;
  margin-right: 3px;
  cursor: pointer;
}